.counter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  box-sizing: border-box;

  div {
    /* background-color: red; */
    border: 1px solid #ddd;

    .number::before {
      display: inline-block;
      /* content: "dec"; */
      font-size: 0.6rem;
      position: relative;
      top: -10px;
    }
  }

  div:not(.binary) {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    font-size: 1.1rem;
  }

  .backStep {
    grid-column: 1/3;
  }

  .binary {
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .byte {
      display: flex;
      justify-content: center;
    }
  }

  .decimal {
    .number::before {
      content: "dec";
    }
  }
  .hexadecimal {
    .number::before {
      content: "hex";
    }
  }
}
